

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;

}


.navbar{
    margin: -20px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar h6 {
    text-align: center;
}

#parentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
}

#container {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(3, 90px);
}

.boxp {
  height: 80px;
  width: 80px;
  border: 1px solid #8c8c8c;
  background-color: #f6f6f6;
  box-shadow: 3px 3px 7px #212121;
  font-size: 30px;
  cursor: pointer;
  outline: none;
}

.boxp:hover {
  background-color: #e9e9e9;
  border: 2px solid #b4b4b4;
}

.msg-container {
  margin-top: 10px;
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 100px;
  z-index: 1;
  -webkit-text-stroke: 1px #212121;
  text-shadow: 2px 2px 6px #000000;
}

.msg-container.hide {
  display: none;
}

#line {
  width: 350px;
  height: 5px;
  background-color: #121212;
  margin: -3px 2px auto;
  display: none;
}


#BtnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

#BackBtn, #NewGame {
  margin: 0 10px; 
  border: 1px solid rgb(70, 70, 70);
}


#BackBtn:hover,
#NewGame:hover {
  background-color: #c4c4c4;
}
